{% extends 'base.html.twig' %}

{% block body %}
    <div style="display:flex;justify-content:space-between;align-items:center;">
        <a href="http://127.0.0.1:8000/appointments"> Appointment </a>
        <a href="http://127.0.0.1:8000/diagnosis/create"> Diagnosis create </a>
        <a href="http://127.0.0.1:8000/diagnoses"> Diagnosis list </a>
    </div>
{% endblock %}